
.custom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
}

.custom-prev,
.custom-next {
  background: white;
  color: #5b6ef5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s;
}

.custom-pagination {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #333;
  width: auto;  
}

.custom-prev.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #A9AFD9
}
.custom-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #A9AFD9
}

.swiper-wrapper{
  padding-left: 24px;
  padding-right: 24px;
}

@media(max-width:768px){
  .swiper-wrapper{
    padding-left: 24px;
    padding-right: 24px;
  }
}